Flask-Login
Jinja2
MarkupSafe
SQLAlchemy
blinker
certifi
charset-normalizer
click
colorama
flask
flask-wtf
greenlet
idna
itsdangerous
pip
requests
setuptools
typing-extensions
urllib3
werkzeug
wheel
wtforms